<div id="gift">
  <div class="gift-body">
    <a href="/" id="logo" title="MC²" class="logo">MC²</a>
    <ul class="actions">
      <li><%= link_to '', :back %></li>
    </ul>
    <div class="container">
      <%= render 'form' %>
    </div>
  </div>
</div>
