body{
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}

.mc2-nav{
  right: 0;
  left: 0;
  background-color: #27ae60;
  position: fixed;
  z-index: 10;

  .brand{
    height: 36px;
    width: 80px;
    padding: 2px 8px 4px 8px;
    background: #22262e;
    margin: 0px;
  }

  .nav>li>a{
    color: white;
    text-shadow: none;
  }

  .nav.user>li>a{
    color: #2ECC71;
    background: #333;
    text-shadow: none
  }

}

.front-page-center{
  background-image: image-url("bg.png");
  background-position: center center;
  background-size: auto 100%;
  height: 800px;
  color: white;
  text-align: center;

  h1{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;
  }

  p{
    margin: 10px 0;
  }

  .read-more{
    position: fixed;
    left: 50%;
    bottom: -50px;
    margin-left: -56px;
    height: 100px;
    width: 100px;
    text-align: center;
    background: image-url('icon-more.png') center 28px no-repeat white;
    background-size: 30px;
    border-radius: 100px;

    p{
      margin-top: -38px;
      color: white;
      font-size: 12px;
    }

    &:hover{
      text-decoration: none;
      bottom: -45px;
    }
  }
}

.project-list{
  padding: 60px 0;

  .gift-wrap{
    width: 95%;
    margin: 0 auto;
  }

  h2, p{
    text-align: center;
    margin-bottom: 20px;
  }

  p{
    max-width: 960px;
    color: #747c81;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.25;
    margin:0 auto 20px auto;
  }

  .project{
    position: relative;
    height: 270px;
    /*width: 31%;*/
    margin-bottom: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    float: left;
    /*margin: 20px 17px 0 0;*/
    overflow: hidden;

    .project-detail{
      padding: 10px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .labels{
        margin-top: 10px;
        font-size: 12px;
        color: #a7a7a7;
        border-top: 1px solid #eee;
        padding-top: 5px;
      }

      .title{
        height: 40px;
      }
    }

    a.project-poster{
      width: 100%;
      height: 180px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 52px;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;

      img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
        opacity: 1;

      }
    }
  }
}

.mentor-list{
  padding-top: 60px;

  .span7 p{
    color: #747c81;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.25;
  }

  span{
    color: #2ECC71;
    font-size: 17px;
    font-weight: bold;
  }

  .mentor-info{
    margin-top: 160px;
    h4{
      margin-bottom: 50px;
      text-indent: 35px;
    }
    p, a{
      display: block;
      text-align: right;
      margin-right: 30px;
      font-size: 15px;
    }
  }
}

.mentor-list .mentor-info a{
  font-size: 17px;
  color: #2ECC71;
  font-weight: bold;
}

.labels .label {
  float: right;
  background: #30c08b;
  color: white;
  padding: 0 3px;
  border: 0;
  border-radius: 0;
  line-height: 20px;
}

.labels .label:after{
  content: "运营中";
}
.label.label-idea, .dot.dot-idea{
  background: #F1C40F;
}
.label.label-idea:after{
  content: "创意";
}
.label.label-ing, .dot.dot-ing{
  background: #3498DB;
}
.label.label-ing:after{
  content: "研发中";
}
.label.label-soon, .dot.dot-soon{
  background: #1ABC9C;
}
.label.label-soon:after{
  content: "即将推出";
}
.label.label-stop, .dot.dot-stop{
  background: #BDC3C7;
}
.label.label-stop:after{
  content: "已停止";
}
#gift-list .row-fluid{
  background-color: #e5e9ec;
  padding-top: 20px;
}

footer{
  background: #22262e;
  color: white;
  padding: 20px 0px;
}
footer ul li {
  margin-bottom: 5px;
}
footer a{
  color: #dbe4ea;
  text-decoration: none;
}
footer a:hover{
  color: white;
  text-decoration: none;
}
footer .footer-logo p{
  margin: 10px 0;
}
[class^="social-"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/social.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}
.social-sinat{
  background-position: 0px 0px;
}
.social-tt{
  background-position: -46px 0px;
}
.social-weixin{
  background-position: -69px 0px;
}
.social-qq{
  background-position: -23px 0px;
}
.social-renren{
  background-position: -92px 0px;
}
.social-sinat:hover, .social-sinat.light{
  background-position: 0px -29px;
}
.social-tt:hover,.social-tt.light{
  background-position: -46px -29px;
}
.social-weixin:hover,.social-weixin.light{
  background-position: -69px -29px;
}
.social-qq:hover,.social-qq.light{
  background-position: -23px -29px;
}
.social-renren:hover,.social-renren.light{
  background-position: -92px -29px;
}
.icon-home,.icon-quill,.icon-image,.icon-film,.icon-cart,.icon-coin,.icon-phone,.icon-envelop,.icon-stopwatch,.icon-drawer,.icon-user,.icon-search,.icon-hammer,.icon-lab,.icon-signup,.icon-thumbs-up,.icon-thumbs-up2,.icon-notification,.icon-question,.icon-info,.icon-blocked,.icon-plus,.icon-filter,.icon-text-height,.icon-bold,.icon-underline,.icon-italic,.icon-share, [class^="ke-icon-"],[class*=" ke-icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: image-url('black_sprites.png');
  background-repeat: no-repeat;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.icon-home {
  background-position: 0 0;
}
.icon-quill {
  background-position: -32px 0;
}
.icon-image,.ke-icon-image {
  background-position: -64px 0;
}
.icon-film,.ke-icon-media {
  background-position: -96px 0;
}
.icon-cart {
  background-position: -128px 0;
}
.icon-coin {
  background-position: -160px 0;
}
.icon-phone {
  background-position: -192px 0;
}
.icon-envelop {
  background-position: -224px 0;
}
.icon-stopwatch {
  background-position: -256px 0;
}
.icon-drawer {
  background-position: -288px 0;
}
.icon-user {
  background-position: -320px 0;
}
.icon-search {
  background-position: -352px 0;
}
.icon-hammer {
  background-position: -384px 0;
}
.icon-lab {
  background-position: -416px 0;
}
.icon-signup {
  background-position: -448px 0;
}
.icon-thumbs-up {
  background-position: -480px 0;
}
.icon-thumbs-up2 {
  background-position: 0 -32px;
}
.icon-notification {
  background-position: -32px -32px;
}
.icon-question {
  background-position: -64px -32px;
}
.icon-info {
  background-position: -96px -32px;
}
.icon-blocked {
  background-position: -128px -32px;
}
.icon-plus {
  background-position: -160px -32px;
}
.icon-filter {
  background-position: -192px -32px;
}
.icon-text-height,.ke-icon-header {
  background-position: -224px -32px;
}
.icon-bold, .ke-icon-bold {
  background-position: -256px -32px;
}
.icon-underline,.ke-icon-underline {
  background-position: -288px -32px;
}
.icon-italic,.ke-icon-italic {
  background-position: -320px -32px;
}
.icon-share {
  background-position: -352px -32px;
}
/*btn*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  box-shadow: none;
}
.btn-register{
  background: #F1C40F;
  border-color: #F39C12;
  color: #333;
}
.btn-success {
  color: #ffffff;
  background-color: #2ECC71;
  border-color: #27AE60;
}
.btn-success:hover{
  background: #27AE60;
}
.btn-register:hover{
  background: #F39C12;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

/*signup / login*/
.wrap {
  padding-top: 200px;
}
.wrap #signup .span7 {
  border-right: 1px solid #ddd;
}
.wrap #login .span7{
  border-left: 1px solid #ddd;
}
.wrap .control-group .controls{
  margin-left: 0;
}

.login-wrap{
  width: 320px;
  margin: 30px 0px 0px 100px;
}
.wrap #login .signup-wrap h4{
  text-align: right;
}
.wrap #login{
  display: none;
}

.mc2-input{
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  color: #555;
  padding: 8px 8px 5px;
  font-size: 20px;
}

.control-group input[type="text"]:focus{
  background: #eee;
  box-shadow: none;
  border-bottom: 1px solid #eee;
}
.input-prepend .add-on:first-child{
  border: none;
  border-radius: 0;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 5px 5px 4px;
  opacity: 0.8;
}
.input-prepend .add-on i{
  margin-top: 3px;
}
.modal-backdrop{
  top: 100px;
  background: #F3F5F8;
  opacity: 1;
  z-index: -1;
}
#signupflash, #loginflash {
  display: none;
}

.personalinfo{
  margin-bottom: 20px;
  overflow: hidden;
}
.personalinfo input[type="text"], .contact input[type="text"]{
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  color: #555;
  padding: 8px 8px 5px;
  font-size: 20px;
}

.contact{
  clear: both;
}
.contact .input-prepend{
  display: block;
}
.contact .input-prepend .add-on{
  padding: 6.5px 5px;
  width: 20px;
}
.contact .input-prepend .add-on i {
  margin-top: 0;
}
.contact .input-prepend .add-on i:hover {
  opacity: 1;
}

.message {
  position: relative;
  width: 500px;
  padding: 10px 12px;
  margin: 10px auto;
  text-shadow: 0 -1px 0
  rgba(0, 0, 0, .5);
  background: #111;
  background: rgba(20, 20, 20, .8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);

  .message-text {
    display: block;
    margin-right: 20px;
    color: #CCC;
    font-size: 12px;
    line-height: 16px;
  }
  .dismiss {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 0;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  .close, .dismiss {
    position: absolute;
    top: 10px;
    right: 12px;
    filter: alpha(opacity=50);
    -moz-opacity: .50;
    opacity: .50;
  }
}
.dismiss {
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 5px;
  cursor: pointer;
}

.message-box-layer a.dismiss{
  top: 7px;
}

